<div class="component">
    <div
    onclick="toggleConsoleOnClick();"
    class="button default toggle-btn
    <%=ctx.consoleShown ? "console-shown" : ""%>
    <%=ctx.vm.console.state==="waitingInput"? "waiting-input":""%>" 
    >
        <div class="icon gray-4"><%-ctx.consoleShown ? Icons.render('angleDown') : Icons.render('angleUp')%></div>
        <div class="label"><%= ctx.consoleShown ? "Hide console" : "Show console"%></div>
    </div>
    <div class="title">Console</div>
    <div class="console <% if (ctx.vm.console.state === "waitingInput") {%> waiting-input <% } %>">
        <%ctx.vm.console.lines.forEach((line) => {%>
        <div class="line <%=line.type%>">
            <%=line.text%>
            <% if (line.waitingInput) {%>
              <textarea id="console-input" name="input" autofocus autocomplete="off"></textarea>
            <%}%>
        </div>
        <%});%>
    </div>
</div>
