<div class="component">
    <div class="title" onclick="toggleConsoleOnClick()">
        <div class="icon gray-4"><%-ctx.consoleShown ? Icons.render('angleDown') : Icons.render('angleUp')%></div>
        Console
    </div>
    <div class="console <% if (ctx.vm.console.state === "waiting Input") {%> waiting-input <% } %>">
        <%ctx.vm.console.lines.forEach((line) => {%>
        <div class="line <%=line.type%>">
            <% if (line.editorPos) {%>
              <span
                class="clickable-pos"
                onclick="goToEditorPosOnClick(this)"
                data-linenumber="<%=line.editorPos.lineNumber%>"
                data-fileid="<%=line.editorPos.fileId%>"
              >[<%=ctx.files.find(f => f.id===line.editorPos.fileId).name??""%>.asm:<%=line.editorPos.lineNumber%>]</span>
            <%} else if (line.memoryPos) {%>
              <span
                class="clickable-pos"
                onclick="goToMemoryPosOnClick(this)"
                data-address="<%=line.memoryPos%>"
              >[0x<%=convert("hex", line.memoryPos)%>]</span>
            <%}%>
            <%=line.text%>
            <% if (line.waitingInput) {%>
              <textarea id="console-input" name="input" autofocus autocomplete="off"></textarea>
            <%}%>
        </div>
        <%});%>
    </div>
</div>
