<div class="component">
  <div id="memorymap-container">
    <canvas id="memorymap"></canvas>
    <canvas id="memorymap-canvas"></canvas>
  </div>
  <div class="title" onclick="toggleMemoryOnClick()">
      <div class="icon gray-4"><%-ctx.memoryShown ? Icons.render('angleRight') : Icons.render('angleLeft')%></div>
      Memory
  </div>
  <div class="tables" id="memory-tables">
    <%ctx.memoryIntervals.forEach((interval) => {%>
      <div class="table">
        <div class="cols-names">
          <div class="col tags"><div class="col-name"></div></div>
          <div class="col address">
            <div class="col-name">Addr</div>
            <div class="col-format">
                <%
                const addrValues = ["hexadecimal", "decimal"]
                let addressFormat = (interval.formats && interval.formats.address) || "hexadecimal";
                let currAddrValue = addrValues.indexOf(addressFormat) || 0;
                %>
                <button
                  type="button"
                  class="state-btn"
                  id="memory-address-format_<%=interval.id%>" 
                  onclick="cycleStateBtn(this, colFormatSelectOnChange)"
                  data-values="<%=addrValues%>"
                  data-current="<%=currAddrValue%>"
                ><%=getStateBtnText(addressFormat)%></button>
            </div>
          </div>
          <div class="col value">
            <div class="col-name">Value</div>
            <%
              const valueFormatOptions = ["int", "uint", "hexadecimal", "ascii", "binary", "asm"];
              let valueFormat = (interval.formats && interval.formats.value) || "int";
            %>
            <div class="col-format">
              <select name="col-format" id="memory-value-format_<%=interval.id%>" onchange="colFormatSelectOnChange(this)" data-id="<%=interval.id%>">
                <%valueFormatOptions.forEach(val => {%>
                <option value="<%=val%>" <%=valueFormat === val ? "selected" : ""%>>
                  <%=getStateBtnText(val, false)%>
                </option>
                <%})%>
              </select>
              <%
              let granularityValues = ["word", "half", "byte"];
              if (valueFormat === "ascii") {
                granularityValues = [ "byte" ];
              } else if (["binary", "asm"].includes(valueFormat)) {
                granularityValues = [ "word" ];
              }
              let valueGranularity = (interval.formats && interval.formats.valueGranularity) || "word";;
              let currentGranularity = granularityValues.indexOf(valueGranularity) || 0;
              %>
              <button
                type="button"
                class="state-btn"
                id="memory-value-granularity_<%=interval.id%>" 
                onclick="cycleStateBtn(this, colFormatSelectOnChange)"
                data-values="<%=granularityValues%>"
                data-current="<%=currentGranularity%>"
                data-id="<%=interval.id%>"
                <%= granularityValues.length<=1 ? "disabled" : "" %>
              ><%=getStateBtnText(valueGranularity)%></button>
            </div>
          </div>
        </div>
        <div class="rows" data-intervalid="<%=interval.id%>" name="memoryIntervalTable">
          <%interval.cells.forEach((cell) => {%>
            <%if (cell) {%>
              <div class="row
                <%=ctx.selectedInstructionAddresses.includes(cell.address) &&
                   (ctx.editorState === "execute") && (ctx.interfaceState === 'execute')
                   ? "selected-instruction" : "" %>
                <%=cell.userDefined ? "userDefined" : ""%>"
                id="<%=cell.address%>"
              >
                <div class="col tags">
                  <%if (cell.tags.length > 0) {%>
                  <div class="static-tags">
                    <%cell.tags.forEach((tag) => {%>
                    <%if (['section', 'label'].includes(tag.type)) {%>
                    <div class="tag <%=tag.type%>"><%=tag.name%></div>
                    <%}%>
                    <%});%>
                  </div>
                  <div class="dynamic-tags">
                    <%cell.tags.forEach((tag) => {%>
                    <%if (['pc', 'register'].includes(tag.type)) {%>
                    <div class="tag <%=tag.type%>"><%=tag.name%></div>
                    <%}%>
                    <%});%>
                  </div>
                  <%}%>
                </div>

                <div class="col address <%=addressFormat%>">
                  <%=convert(addressFormat, cell.address)%>
                </div>

                <%let highlightClass = "";
                  if (ctx.vm.lastReadMem === cell.address) {
                    highlightClass = "last-read";
                  } else if (ctx.vm.lastWrittenMem === cell.address) {
                    highlightClass = "last-changed";
                  }
                %>
                <% if (valueGranularity == 'half') {%>
                  <div class="col granular">
                    <%let parts = [cell.binary.getBits(31,16), cell.binary.getBits(15,0)]
                    for (let part of parts) {%>
                      <div class="col value <%=valueFormat%> <%=highlightClass%>">
                        <%=convert(valueFormat, part)%>
                      </div>
                    <%}%>
                  </div>
                <%} else if (valueGranularity == 'byte') {%>
                  <div class="col granular">
                    <%let parts = [cell.binary.getBits(31,24), cell.binary.getBits(23,16), cell.binary.getBits(15,8), cell.binary.getBits(7,0)]
                    for (let part of parts) {%>
                      <div class="col value <%=valueFormat%> <%=highlightClass%>">
                        <%=convert(valueFormat, part)%>
                      </div>
                    <%}%>
                  </div>
                <%} else {%>
                  <div class="col value <%=valueFormat%> <%=highlightClass%>">
                      <%let inner = convert(valueFormat, cell.binary)
                        if (valueFormat==="binary")
                          inner = inner.split(" ").map(byte => `<span>${byte}</span>`).join("")
                      %>
                      <%-inner%>
                  </div>
                <%}%>
              </div>
            <%}%>
          <%});%>
        </div>
      </div>
    <%});%>
  </div>
</div>
