<div class="component">
    <div class="title">Memory</div>
    <div class="tables">
        <%ctx.intervals.forEach((interval, index) => {%>
            <div class="table">
                <div class="cols-names">
                    <div class="col address">
                        <div class="col-name">Address</div>
                        <div class="col-format">
                            <select name="col-format" id="memory-address-format_<%=index%>" onchange="colFormatSelectOnChange(this)">
                                <%
                                    let addressFormat = (interval.colsFormats && interval.colsFormats.address) || "decimal";
                                %>
                                <option value="decimal" <%= addressFormat === "decimal" ? "selected" : "" %>>Decimal</option>
                                <option value="hexadecimal" <%= addressFormat === "hexadecimal" ? "selected" : "" %>>Hexadecimal</option>
                                <option value="binary" <%= addressFormat === "binary" ? "selected" : "" %>>Binary</option>
                            </select>
                        </div>
                    </div>
                    <div class="col value">
                        <div class="col-name">Value</div>
                        <div class="col-format">
                            <select name="col-format" id="memory-value-format_<%=index%>" onchange="colFormatSelectOnChange(this)">
                                <%
                                    let valueFormat = (interval.colsFormats && interval.colsFormats.value) || "decimal";
                                %>
                                <option value="decimal" <%= valueFormat === "decimal" ? "selected" : "" %>>Decimal</option>
                                <option value="hexadecimal" <%= valueFormat === "hexadecimal" ? "selected" : "" %>>Hexadecimal</option>
                                <option value="binary" <%= valueFormat === "binary" ? "selected" : "" %>>Binary</option>
                                <option value="ascii" <%= valueFormat === "ascii" ? "selected" : "" %>>Text</option>
                                <option value="asm" <%= valueFormat === "asm" ? "selected" : "" %>>MIPS Instruction</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="rows">
                    <%interval.cells.forEach((cell) => {%>
                        <%if (cell) {%>
                            <div class="row <%if (ctx.selectedInstructionsAddresses.includes(cell.address) && (ctx.editorState === "execute")){%> selected-instruction <%}%>
                                            <%if ((ctx.vm.cpu.pc.getValue() === cell.address) && (ctx.editorState === "execute")){%> next-instruction <%}%>">
                                <div class="col address"><%=convert(addressFormat, cell.address)%></div>
                                <div class="col value"><%=convert(valueFormat, cell.value)%></div>
                            </div>
                        <%}%>
                    <%});%>
                </div>
            </div>
        <%});%>
    </div>
</div>