<div class="opened-files">
    <div class="files-tabs <%if(ctx.interfaceState === 'edit'){%>sortable<%}%>" id="files-tabs">
        <%ctx.files.forEach((file) => {%>
        <div class="file-tab <%if((ctx.selectedFile) && (ctx.selectedFile.id === file.id)){%>selected<%}%>" onclick="changeFileOnClick('<%=file.id%>', this)">
            <div class="file-name"><span ondblclick="enableFileNameEdit(this)" data-fileid="<%=file.id%>"><%=file.name%></span>.<%=file.type%></div>
            <div class="buttons">
              <div class="button" onclick="event.stopPropagation();showFileActionsOnClick(<%=file.id%>, this)">
                  <div class="icon gray-4"><%-Icons.render('verticalDots')%></div>
              </div>
            </div>
        </div>
        <%});%>
        <div class="file-tab new-file not-draggable" onclick="newFileOnClick();">
          <div class="icon"><%-Icons.render('plus')%></div>
        </div>
    </div>
</div>
