<div class="component">
    <div class="title" onclick="toggleRegistersOnClick()">
        <div class="icon gray-4"><%-Icons.render('angleLeft')%></div>
        Reg<span class="long">ister</span>s
    </div>
    <div class="table">
        <div class="cols-names">
            <div class="col name">
                <div class="col-format">
                    <%
                    const regNameValues = ["name", "number"]
                    let nameFormat = (ctx.settings.colsFormats && ctx.settings.colsFormats['registers-name-format']) || "name";
                    let currentName = regNameValues.indexOf(nameFormat) || 0;
                    %>
                    <button
                      type="button"
                      class="state-btn"
                      id="registers-name-format"
                      onclick="cycleStateBtn(this, colFormatSelectOnChange)"
                      data-values="<%=regNameValues%>"
                      data-current="<%=currentName%>"
                    ><%=getStateBtnText(nameFormat)%></button>
                </div>
            </div>
            <div class="col value">
                <div class="col-name">Value</div>
                <div class="col-format">
                    <%
                    const regValOptions = ["int", "uint", "hexadecimal", "binary"]
                    let valueFormat = (ctx.settings.colsFormats && ctx.settings.colsFormats['registers-value-format']) || "int";
                    let currentVal = regValOptions.indexOf(valueFormat) || 0;
                    %>
                    <button
                      type="button"
                      class="state-btn"
                      id="registers-value-format"
                      onclick="cycleStateBtn(this, colFormatSelectOnChange)"
                      data-values="<%=regValOptions%>"
                      data-current="<%=currentVal%>"
                    ><%=getStateBtnText(valueFormat)%></button>
                </div>
            </div>
        </div>
        <div class="rows">
            <%ctx.vm.getRegisters().forEach((register) => {%>
                <div class="row 
                <% if ((ctx.vm.lastChangedRegister) && (ctx.vm.lastChangedRegister === register.name)) { %> last-changed <% } %>
                <% if ((ctx.vm.lastReadRegisters) && (ctx.vm.lastReadRegisters.includes(register.name))) { %> last-read <% } %>
                ">
                    <div class="col name">
                        <% if ((nameFormat === 'number') && (!['pc', 'hi', 'lo'].includes(register.name))) { %>
                        $<%=register.number%>
                        <% } else { %>
                        <%=register.name%>
                        <% } %>
                    </div>
                    <div class="col value <%=valueFormat%>">
                      <%let inner = convert(valueFormat, register.binary)
                        if (valueFormat==="binary")
                          inner = inner.split(" ").map(byte => `<span>${byte}</span>`).join("")
                      %>
                      <%-inner%>
                    </div>
                </div>
            <%});%>
        </div>
    </div>
</div>

