<div class="component">
    <div class="title">Registers</div>
    <div class="table">
        <div class="cols-names">
            <div class="col number"><div class="col-name"></div></div>
            <div class="col name"><div class="col-name">Name</div></div>
            <div class="col value">
                <div class="col-name">Value</div>
                <div class="col-format">
                    <select name="col-format" id="registers-value-format" onchange="colFormatSelectOnChange(this)">
                        <%
                        let valueFormat = (ctx.settings.colsFormats && ctx.settings.colsFormats['registers-value-format']) || "decimal";
                        %>
                        <option value="decimal" <%= valueFormat === "decimal" ? "selected" : "" %>>Decimal</option>
                        <option value="hexadecimal" <%= valueFormat === "hexadecimal" ? "selected" : "" %>>Hexadecimal</option>
                        <option value="binary" <%= valueFormat === "binary" ? "selected" : "" %>>Binary</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="rows">
            <%ctx.vm.getRegisters().forEach((register) => {%>
            <div class="row <% if ((ctx.vm.lastChangedRegister) && (ctx.vm.lastChangedRegister === register.number)) { %> last-changed <% } %>">
                <div class="col number"><%=register.number%></div>
                <div class="col name"><%=register.name%></div>
                <div class="col value <%if(valueFormat==='binary'){%>binary<%}%>"><%=convert(valueFormat, register.value, true)%></div>
            </div>
            <%});%>
        </div>
    </div>
</div>