<%//console.log(ctx);%>

<div class="header flex justify-between align-center">
    <div class="flex align-center">
        <div class="icon app-logo"><%-Icons.render('microchip', { fill: 'url(#gradient)' })%></div>
        <div class="app-name">MIPSWEB</div>
    </div>
    <div id="header-buttons"><%-await renderTemplate('/app/header-buttons.ejs', ctx)%></div>
</div>

<div class="toolbar flex justify-between align-center">
    <div id="files-buttons"><%-await renderTemplate('/app/files-buttons.ejs', ctx)%></div>
    <div id="vm-buttons"><%-await renderTemplate('/app/vm-buttons.ejs', ctx)%></div>
</div>

<% if (ctx.files.length > 0) { %>
<div id="opened-files" <%if(ctx.interfaceState === 'execute'){%>class="execute"<%}%>><%-await renderTemplate('/app/opened-files.ejs', ctx)%></div>
<div id="console" <%if(ctx.interfaceState === 'execute'){%>class="execute"<%}%>><%-await renderTemplate('/app/console.ejs', ctx)%></div>
<div id="registers" <%if(ctx.interfaceState === 'execute'){%>class="execute"<%}%>><%-await renderTemplate('/app/registers.ejs', ctx)%></div>
<div id="memory"><%-await renderTemplate('/app/memory.ejs', ctx)%></div>
<%}%>

<% if (ctx.files.length === 0) { %>
<div id="welcome-page"><%-await renderTemplate('/app/welcome-page.ejs', ctx)%></div>
<%}%>