<div class="toolbar flex justify-between align-center">
  <div class="flex left">
    <div class="flex align-center">
      <div class="app-name">MIPSWEB <span class="version">1.0</span></div>
    </div>
    <div id="files-buttons"><%-await renderTemplate('/app/files-buttons.ejs', ctx)%></div>
  </div>
  <% if (ctx.files.length > 0) { %>
  <div id="vm-buttons"><%-await renderTemplate('/app/vm-buttons.ejs', ctx)%></div>
  <%}%>
</div>

<div id="opened-files" class="<% if (ctx.interfaceState === 'execute') { %>execute<% }%> <%=ctx.memoryShown?"memory-shown":""%> <%=ctx.files.length>0?"registers-shown":""%>">
  <%- await renderTemplate('/app/opened-files.ejs', ctx) %>
</div>

<% if (ctx.files.length > 0) { %>
  <div id="components-container">
    <div id="console-container">
      <div id="console" class="<%=ctx.consoleShown ? "console-shown" : ""%> <%=ctx.memoryShown?"memory-shown":""%>">
        <%-await renderTemplate('/app/console.ejs', ctx)%>
      </div>
    </div>
    <div id="memory" class="<%=ctx.memoryShown ? "memory-shown": ""%>"><%-await renderTemplate('/app/memory.ejs', ctx)%></div>
    <div id="registers" <%if(ctx.interfaceState === 'execute'){%>class="execute"<%}%>><%-await renderTemplate('/app/registers.ejs', ctx)%></div>
  </div>
<%} else {%>
    <%-await renderTemplate("/app/no-files.ejs")%>
<%}%>
