<div class="popover file-menu">
  <div class="buttons">
    <div class="button default" onclick="newProjectOnClick()" title="Create a new empty project, deleting current files">
        <div class="icon gray-4"><%-Icons.render('newProject')%></div>
        <div class="label">New project</div>
    </div>
    <div class="button default" onclick="showFormOnClick('rename-project')" title="Rename the current project">
        <div class="icon gray-4"><%-Icons.render('edit')%></div>
        <div class="label">Rename project...</div>
    </div>
    <div class="button default" onclick="importZipOnClick()" title="Open a new project replacing the current one">
        <div class="icon gray-4"><%-Icons.render('importProject')%></div>
        <div class="label">Import zip...</div>
    </div>
    <div class="button default" onclick="importFilesOnClick()" title="Add the imported files to the current project">
        <div class="icon gray-4"><%-Icons.render('importFiles')%></div>
        <div class="label">Import files...</div>
    </div>
    <%if (ctx.files.length > 0) {%>
        <div class="button default" onclick="exportZipOnClick()", title="Exports all the current project's files to a zip archive">
            <div class="icon gray-4"><%-Icons.render('exportProject')%></div>
            <div class="label">Export zip...</div>
        </div>
    <%}%>
  </div>
</div>
