 <% let intervals = getUserIntervals(); backupUserIntervals();%>
<form class="form" id="edit-user-intervals">
  <div class="text">Edit your watched memory intervals</div>
  <div class="flex flex-column" style="gap: 1em" id="intervals-container">
  <%
  const minAddress = 4194304;
  const maxAddress = 4294967295;
  window.updateIntervalValue = (amount, index, which) => {
    const input = document.getElementById(`interval${which}${index}`);
    let newValue = hexStringToInt(input.value);
    if (isNaN(newValue)) {
      window.alert(`'${input.value}' is not a valid hex string`);
      return;
    }
    newValue += amount;
    if (newValue < minAddress || newValue > maxAddress) return;
    if (which === 'start' && newValue > intervals[index]['end']) return;
    if (which === 'end' && newValue < intervals[index]['start']) return;
    input.value = numToHex(newValue);
    intervals[index][which] = newValue;
    setUserIntervals(intervals);
  };
  window.deleteInterval = (index) => {
    intervals[index].deleted = true;
    document.getElementById("intervals-container").children[index].style.display = "none";
  };
  window.confirmIntervalChanges = () => {
    for (let i = intervals.length - 1; i >= 0; i--) {
      if (intervals[i].deleted===true) {
        intervals.splice(i, 1);
      }
    }
    setUserIntervals(intervals);
  }
  intervals.forEach((interval, index) => {%>
    <div class="interval">
      <div class="input">
        <button type="button" onclick="updateIntervalValue(-4, <%=index%>, 'start');">-</button>
        <div class="hex">0x</div>
        <input type="string" id="intervalstart<%=index%>" value="<%=numToHex(interval.start)%>">
        <button type="button" onclick="updateIntervalValue(4, <%=index%>, 'start');">+</button>
      </div>
      <div class="input">
        <button type="button" onclick="updateIntervalValue(-4, <%=index%>, 'end');">-</button>
        <div class="hex">0x</div>
        <input type="string" id="intervalend<%=index%>" value="<%=numToHex(interval.end)%>">
        <button type="button" onclick="updateIntervalValue(4, <%=index%>, 'end');">+</button>
      </div>
      <button class="button default delete" type="button" onclick="deleteInterval(<%=index%>)">
        <div class="icon gray-4"><%-Icons.render('bin')%></div>
      </button>
    </div>
  <%})%>
  </div>
  <div class="buttons">
    <button class="button default" type="button" onclick="restoreUserIntervals();">
      <div class="icon gray-4"><%-Icons.render('x')%></div>
      <div class="label">Cancel</div>
    </button>
    <button class="button default" type="submit" onclick="confirmIntervalChanges();">
      <div class="icon gray-4"><%-Icons.render('edit')%></div>
      <div class="label">Confirm changes</div>
    </button>
  </div>
</form>
