<div class="form help">
  <%const helps = [
    {title: "About", content: null, kind: "editorInfo"},
    {title: "Instructions", content: getInstructionsHelp(), kind: "instr"},
    {title: "Pseudoinstructions", content: getPseudoInstructionsHelp(), kind: "instr"},
    {title: "Syscalls", content: getSyscallHelp(), kind: "syscalls"},
    {title: "ASCII", content: asciiTable, kind: "ascii"}
  ];
  let activeSection = getActiveHelpTab() || 0;
  let help = helps[activeSection];
  if (!help) {
    sessionStorage.removeItem("help-tab-index");
    hideFormOnClick();
  }%>
  <div class="title-container">
    <%helps.map(h => h.title).forEach((title, i) => {%>
      <span
        class="section-title <%=i===activeSection ? "active" : ""%>"
        onclick="sectionTitleOnClick(<%=i%>)"
      ><%=title%></span>
      <span><%=i !== helps.length-1 ? "/" : ""%></span>
    <%});%>
  </div>
  <div class="content <%=help.kind%>">
    <%if (help.kind==="editorInfo") {%>
      <p>MIPSWEB is a web-based IDE, assembler, and virtual machine for MIPS-32. <span class="WIP">THIS IS A WORK IN PROGRESS</span>.<br/>
       The project is developed by <a class="name">Mattia Mendicino</a>, <a class="name">Giuseppe Gadola</a> and <a class="name" href="https://tarini.di.unimi.it/">Marco Tarini</a> from <a class="name" href="https://www.unimi.it/en">University of Milan</a>.</p>
    <%} else if (help.kind==="instr") {%>
      <div class="table">
        <div class="cols-names">
          <div class="col name">Name</div>
          <div class="col params">Params</div>
          <div class="col desc">Description</div>
        </div>
        <div class="rows">
          <%help.content.forEach((instrHelp, i) => {%>
            <div class="row <%=i%2==0 ? "even" : ""%>">
              <div class="col name">
                <span class="symbol"><%=instrHelp.symbol%></span><span class="longName"><%=instrHelp.longName%></span>
              </div>
              <div class="col params">
                <%instrHelp.params.forEach(param => {%>
                  <div><%=instrHelp.symbol%> <%=param%></div>
                <%});%>
              </div>
              <div class="col desc">
                <p><%-instrHelp.description%></p>
              </div>
            </div>
          <%});%>
        </div>
      </div>
    <%} else if (help.kind==="syscalls") {%>
      <div class="table syscalls">
        <div class="cols-names">
          <div class="col code">Code</div>
          <div class="col name">Name</div>
          <div class="col desc">Description</div>
        </div>
        <div class="rows">
          <%help.content.forEach((syscallHelp, i) => {%>
            <div class="row <%=i%2==0 ? "even" : ""%>">
              <div class="col code"><%=syscallHelp.code%></div>
              <div class="col name"><%=syscallHelp.name%></div>
              <div class="col desc"><p><%-syscallHelp.description%></p></div>
            </div>
          <%});%>
        </div>
      </div>
    <%} else if (help.kind==="ascii") {%>
      <div class="table ascii-col">
        <div class="cols-names">
          <div class="col dec">Dec</div>
          <div class="col char">Char</div>
        </div>
        <div class="rows">
          <% for (i = 0; i < 128; i++) {%>
            <div class="row <%=i%2==0 ? "even" : ""%>">
              <div class="col dec"><%=i%></div>
              <div class="col char"><%=help.content[i]%></div>
            </div>
          <%}%>
        </div>
      </div>
    <%}%>
  </div>
  <div class="buttons">
      <button class="button default" onclick="hideFormOnClick();">
          <div class="icon gray-4"><%-Icons.render('x')%></div>
          <div class="label">Close</div>
      </button>
  </div>
</div>
