<div class="form help">
  <div class="table">
    <div class="cols-names">
      <div class="col name">Name</div>
      <div class="col params">Params</div>
      <div class="col desc">Description</div>
    </div>
    <div class="rows">
      <% const instructions = getInstructionsHelp();
      for (const help of instructions) {%>
        <div class="row">
          <div class="col name">
            <span class="symbol"><%=help.symbol%></span><span class="longName"><%=help.longName%></span>
          </div>
          <div class="col params">
            <%help.params.forEach(param => {%>
              <div><%=param%></div>
            <%});%>
          </div>
          <div class="col desc">
            <%=help.description%>
          </div>
        </div>
      <%}%>
    </div>
  </div>
  <div class="buttons">
      <button class="button default" onclick="hideFormOnClick();">
          <div class="icon gray-4"><%-Icons.render('x')%></div>
          <div class="label">Close</div>
      </button>
  </div>
</div>
