<div class="form help">
  <%const helps = [
    {title: "About", kind: "about"},
    {title: "Instructions", kind: "instr"},
    {title: "Syscalls", kind: "syscalls"},
    {title: "Directives", kind: "directives"},
    {title: "Registers", kind: "registers"},
    {title: "ASCII", kind: "ascii"}
  ];
  let activeSection = getActiveHelpTab() || 0;
  let help = helps[activeSection];
  if (!help) {
    sessionStorage.removeItem("help-tab-index");
    hideFormOnClick();
  }%>
  <div class="title-container">
    <%helps.map(h => h.title).forEach((title, i) => {%>
      <span
        class="section-title <%=i===activeSection ? "active" : ""%>"
        onclick="sectionTitleOnClick(<%=i%>)"
      ><%=title%></span>
      <span><%=i !== helps.length-1 ? "/" : ""%></span>
    <%});%>
  </div>
  <div class="content <%=help.kind%>">
    <%if (help.kind==="about") {%>
      <div class="app-name">MIPSWEB</div>
      <p class="by">By [<a>Giuseppe Gadola</a>, <a>Mattia Mendicino</a>, <a href="https://tarini.di.unimi.it/">Marco Tarini</a>] - <a href="https://www.unimi.it/en">University of Milan</a></p>
      <p class="ver">ver 2.0</p>
      <p class="WIP">THIS IS A WORK IN PROGRESS</p>
      <p>MIPSWEB is a web-based IDE, assembler, and virtual machine for MIPS-32.</p>
<!--TODO: license-->
      <a>MIT</a>
    <%} else if (help.kind==="instr") {%>
      <p style="margin:0;opacity:0.7;font-style:italic;">Pseudoinstructions are marked in <span style="color:var(--rgb-blue)">blue</span></p>
      <div class="table">
        <div class="cols-names">
          <div class="col name"><p>Name</p></div>
          <div class="col longname"><p>Long name</p></div>
          <div class="col params"><p>Params</p></div>
          <div class="col desc"><p>Description</p></div>
        </div>
        <div class="rows">
          <%getAllInstructionsHelp().forEach((instrHelp, i) => {%>
            <div class="row <%=i%2==0 ? "even" : ""%> <%=instrHelp.meta%>">
              <div class="col name">
                <%=instrHelp.symbol%>
              </div>
              <div class="col longname">
                <%-instrHelp.longName%>
              </div>
              <div class="col params">
                <%instrHelp.params.forEach(param => {%>
                  <div><%=instrHelp.symbol%> <%=param%></div>
                <%});%>
              </div>
              <div class="col desc">
                <p><%-instrHelp.description%></p>
              </div>
            </div>
          <%});%>
        </div>
      </div>
    <%} else if (help.kind==="directives") {%>
      <div class="table directives">
        <div class="cols-names">
          <div class="col symbol"><p>Directive</p></div>
          <div class="col example"><p>Example</p></div>
          <div class="col desc"><p>Description</p></div>
        </div>
        <div class="rows">
          <%getDirectivesHelp().forEach((dirHelp, i) => {%>
            <div class="row <%=i%2==0 ? "even" : ""%>">
              <div class="col symbol"><%=dirHelp.symbol%></div>
              <div class="col example"><p><%-dirHelp.example.replace('\n', '<br/>')%></p></div>
              <div class="col desc"><p><%=dirHelp.description%></p></div>
            </div>
          <%});%>
        </div>
      </div>
    <%} else if (help.kind==="syscalls") {%>
      <div class="table syscalls">
        <div class="cols-names">
          <div class="col code"><p>Code in <span class="code">$v0</span></p></div>
          <div class="col name"><p>Name</p></div>
          <div class="col desc"><p>Description</p></div>
        </div>
        <div class="rows">
          <%getSyscallHelp().forEach((syscallHelp, i) => {%>
            <div class="row <%=i%2==0 ? "even" : ""%>">
              <div class="col code"><%=syscallHelp.code%></div>
              <div class="col name"><%=syscallHelp.name%></div>
              <div class="col desc"><p><%-syscallHelp.description%></p></div>
            </div>
          <%});%>
        </div>
      </div>
    <%} else if (help.kind==="registers") {%>
      <p>Conventional use / <span class="invariant">HW features</span></p>
      <div class="table">
        <div class="cols-names">
          <div class="col num"><p>Num</p></div>
          <div class="col name"><p>Name</p></div>
          <div class="col longName"><p>Full name</p></div>
          <div class="col desc"><p>Description</p></div>
        </div>
        <div class="rows">
          <%getRegistersHelp().forEach((regHelp, i) => {%>
            <div class="row <%=i%2==0 ? "even" : ""%>">
              <div class="regs">
                <%regHelp.regs.forEach(({num, name}) => {%>
                  <div class="reg-row">
                    <div class="col num"><%=num%></div>
                    <div class="col name"><%=name%></div>
                  </div>
                <%});%>
              </div>
              <div class="col longName"><%-regHelp.longName%></div>
              <div class="col desc"><p><%-regHelp.description%></p></div>
            </div>
          <%});%>
        </div>
      </div>
    <%} else if (help.kind==="ascii") {%>
      <%const descriptions = getAsciiTableHelp();
      for (const col of [1,2,3,4]) {%>
        <div class="table">
          <div class="cols-names">
            <div class="col dec"><p>Dec</p></div>
            <div class="col char"><p>Char</p></div>
            <div class="col desc"><p>Desc</p></div>
          </div>
          <div class="rows">
            <% for (i = 32*(col-1); i < 32*col; i++) {%>
              <div class="row <%=i%2==0 ? "even" : ""%>">
                <div class="col dec"><%=i%></div>
                <div class="col char <%=asciiTable[i].startsWith('\\') ? "special" : ""%>"><p><%=asciiTable[i]%></p></div>
                <div class="col desc"><div><%=descriptions[i] ?? ""%></div></div>
              </div>
            <%}%>
          </div>
        </div>
      <%}}%>
  </div>
  <div class="buttons">
      <button class="button default" onclick="hideFormOnClick();">
          <div class="icon gray-4"><%-Icons.render('x')%></div>
          <div class="label">Close</div>
      </button>
  </div>
</div>
