<div class="form">
    <div class="text">The program reached the same Program Counter value <%=ctx.treshold%> times</div>
    <div class="buttons">
        <div class="button default" onclick="hideFormOnClick();">
            <div class="icon gray-4"><%-Icons.render('pause')%></div>
            <div class="label">Pause execution</div>
        </div>
        <div class="button default" onclick="hideFormOnClick();runOnClick();">
            <div class="icon gray-4"><%-Icons.render('step')%></div>
            <div class="label">Run for <%=ctx.treshold%> more iterations</div>
        </div>
        <div class="button default" onclick="hideFormOnClick();disableLoopDetectionOnClick();runOnClick();">
            <div class="icon gray-4"><%-Icons.render('run')%></div>
            <div class="label">Run and disable detection</div>
        </div>
    </div>
</div>
