<form class="form settings" id="settings-form" onsubmit="return saveSettings(event)" onchange="getOptionFlagsOnClick();">
    <div class="title">Settings</div>
    <div>
      <%ctx.possibleOptions.forEach(section => {%>
        <fieldset class="section">
          <legend class="title"><%=section.name%></legend>
          <%section.settings.forEach(opt => {
            const currVal = ctx.settings.options[opt.name]%>
            <div class="line">
              <label for="<%=opt.name%>"><%=opt.desc%></label>
              <%if (opt.help && opt.help !== "") {%>
                <div class="help" title="<%=opt.help%>">?</div>
              <%}%>
              <%switch (opt.inputType) {
                case "checkbox":%>
                  <input type="checkbox" id="<%=opt.name%>" name="<%=opt.name%>" <%=currVal?"checked":""%>/>
                <%break;
                case "dropdown":%>
                  <select id="<%=opt.name%>" name="<%=opt.name%>">
                    <%opt.dropdownOptions.forEach(o => {%>
                      <option value="<%=o.value%>" <%=currVal === o.value ? "selected" : ""%>>
                        <%=o.desc%>
                      </option>
                    <%})%>
                  </select>
              <%
              }
              %>
            </div>
          <%})%>
        </fieldset>
      <%})%>
      <fieldset class="section">
        <legend class="title">Flags</legend>
        <div class="line">
          <input type="text" id="option-tags" name="option-tags" onpaste="setOptionsByFlagsOnClick(event, this);"></input>
          <div class="button-group">
            <button type="button" class="button default" onclick="copyOptionsFlagsOnClick(false)">Copy Flags</button>
            <button type="button" class="button default" onclick="copyOptionsFlagsOnClick(true)">URL</button>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="buttons">
        <button class="button default" onclick="restoreOptions();hideFormOnClick();">
            <div class="icon gray-4"><%-Icons.render('x')%></div>
            <div class="label">Cancel</div>
        </button>
        <button class="button default" type="submit">
            <div class="icon gray-4"><%-Icons.render('save')%></div>
            <div class="label">Ok</div>
        </button>
    </div>
</form>
